{%- if grafana.conf.without_section is defined and grafana.conf.without_section -%}
{%- for nosectopt, nosectopt_data in grafana.conf.without_section.items()|default({})|sort -%}
{{nosectopt}}={{nosectopt_data}}
{%- endfor -%}{{- '\n\n' -}}
{%- endif -%}
{%- for sect, sect_data in grafana.conf.items()|default({}) -%}
{%- if sect not in 'without_section' -%}
{{sect + '\n'}}
{%- if sect_data != None -%}
{%- for sectopt, sectopt_data in sect_data.items()|default({})|sort -%}
{{sectopt}}={{sectopt_data + '\n'}}
{%- endfor -%}
{%- endif -%}{{- '\n' -}}
{%- endif -%}
{%- endfor -%}

